
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.screen {
    display: block;
}

.question {
    margin-bottom: 20px;
}

.question label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.text-input, .select-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-options {
    display: flex;
    align-items: center;
}

.radio-input {
    margin-right: 5px;
}

.progress-bar {
    width: 0;
    height: 10px;
    background-color: #4caf50;
    margin-top: 20px;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.radio-labels {
    display: inline-block;
    margin-right: 10px; /* Adjust as needed */
    color: #888; /* Placeholder text color */
}

.radio-input {
    margin-right: 5px; /* Adjust as needed */
}

.radio-input:checked + .radio-labels {
    color: black; /* Adjust to change color when selected */
}
